/node_modules
/.next/dev/cache
/.next/dev/build
/.next
/.next/dev
/.next/dev/logs
/.next
/.next
/.next
/.next/dev
/.next/dev/server
/.next/dev/server/app

.next/dev/logs/
.next/dev/server/
.next/dev/static/